<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Add New Book</h1>
  <div class="col-6 offset-3">
    <form action="/books" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" placeholder="title" name="book[title]" required>
            <div class="valid-feedback">
                Looks good!
              </div>    
        </div>
        <div class="mb-3">
            <label class="form-label" for="author">Author</label>
            <input class="form-control" type="text" id="author" placeholder="author" name="book[author]" required>
            <div class="valid-feedback">
                Looks good!
              </div>    
        </div>
        <div class="mb-3">
            <label class="form-label" for="year">Published Year</label>
            <input  class="form-control" type="text" id="year" placeholder="year" name="book[year]" required>  
            <div class="valid-feedback">
                Looks good!
              </div>  
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Book Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input  class="form-control" type="text" id="price" placeholder="0.00" name="book[price]" required> 
                <div class="valid-feedback">
                    Looks good!
                  </div> 
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="isbn">ISBN</label>
            <input class="form-control" type="text" id="isbn" placeholder="isbn" name="book[ISBN]" required>   
            <div class="valid-feedback">
                Looks good!
              </div> 
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image Url</label>
            <br>
            <input class="form-control" id="image" cols="30" row="10" placeholder="image" name="book[image]" >   
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <br>
            <textarea class="form-control" id="description" cols="30" row="10" placeholder="description" name="book[description]" ></textarea>    
        </div>
        <div class="mb-3">
            <label class="form-label" for="comment">Comment Text</label>
            <br>
            <textarea class="form-control" id="comment" cols="30" row="10" placeholder="comment" name="book[comment]" ></textarea>    
        </div>
        
        <button class="btn btn-success mb-3">Submit</button>
    </form>
    <a  href="/books">My Books</a>
  </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
    
   
    