<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form action="/books/newbook" method="post">
        <section>
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="title" name="title">    
        </section>
        <section>
            <label for="author">Author</label>
            <input type="text" id="author" placeholder="author" name="author">    
        </section>
        <section>
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" placeholder="isbn" name="isbn">    
        </section>
        <section>
            <label for="comment">Comment Text</label>
            <br>
            <textarea id="comment" cols="30" row="10" placeholder="comment" name="comment" ></textarea>    
        </section>
        <button>Submit</button>
    </form>
    <a href="/books">My Books</a>
</body>
</html>